* {
    font-size: 18px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body {
    display: flex;
    flex-direction: row;
}
.void {
    width: 35%;
    background-color: #202021;
}

.article_header{
    position: relative;
    color: #F4F6F3;
    overflow: hidden;
    width: 100%;
    background-color: #718D64;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
}
.article_img {
    mask-image: linear-gradient(to left,
    black 0%,
    black 25%,
    transparent 80%);
    opacity: 0.2;
    position: absolute;
    top: 0px;
    right: -100px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.article_title {
    font-weight: bold;
    font-size: 24px;
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 60%;
    overflow-wrap: keep-all;
}
.p_wrapper {
    width: 60%;
}

.p1,.p2,.p3,.p4 {
    padding-bottom: 1rem;
}

.article_wrapper {
    position: relative;
    height: 100%;
    flex-direction: column;
}

.article_body {
    box-shadow: 0px 8px 20px rgb(0, 0, 0, 0.15) inset;
    background-color: #F4F6F3;
    padding: 2em;
}
.body_header_green {
    color: #718D64;
    font-weight: bold;
    font-size: 24px;
}
.body_header {
    padding: 1rem 0rem 1rem 0rem;
}
.body_total_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 4rem;
}

.body_wrapper {
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
}
.body_title {
    padding-bottom: 1rem;
}
.cubes_wrapper {
    anchor-name: --cubes_wrapper;
    anchor-scope: --cubes_wrapper;
    margin-right: 2rem;
    width: 50%;
    gap: 1em;
    overflow: hidden;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}
.cubes_wrapper::-webkit-scrollbar {
    display: none;
}
.cubes_wrapper::scroll-button(right), .cubes_wrapper::scroll-button(left) {
    color: black;
    content: "→";
    border: none;
    height: 20px;
    align-self: center;
    position: fixed;
    position-anchor: --cubes_wrapper;
    position-area: right center;
}
.cubes_wrapper::scroll-button(left) {
    content: "←";
    position-area: left center;
}
.cubes_wrapper_L {
    margin-left: 2rem;
    margin-right: 0rem;
}
.img_wrapper {
    flex: 0 0 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tatreez {
    object-fit: cover;
    width: 200px;
    height: 200px;
}

@media screen and (min-width: 1900px) {
}
@media screen and (max-width: 1100px) {
}
@media screen and (max-width: 1000px) {
}
@media screen and (max-width: 800px) {
    .void {
        display: none;
    }
}
@media screen and (max-width: 650px) {
    .void {
        display: none;
    }
}
@media screen and (max-width: 550px) {
    * {
        font-size: 12px;
    }
    .article_title {
        font-size: 18px;
    }
    .body_header_green {
        font-size: 18px;
    }
    .body_total_wrapper {
        padding-bottom: 8rem;
    }
    .void {
        display: none;
    }
}
@media screen and (max-width: 500px) {
    .article_title {
        width: 100%;
    }
    .p_wrapper {
        width: 100%;
    } 
}
/*mobile */
@media screen and (max-width: 430px) {
    .article_img {
        display: none;
    }
    .button {
        font-size: 10px;
    }
    .body_header {
        border-bottom: 0.5px solid lightgrey;
        margin-bottom: 1rem;
    }
    .body_total_wrapper {
        flex-direction: column-reverse;
        padding-bottom: 13rem;
        border-bottom: 0.5px solid lightgrey;
        margin-bottom: 1rem;
    }
    .body_total_wrapper_two {
        flex-direction: column;
    }
    .body_article {
        padding-bottom: 1rem; 
    }
}
